.footer {
    background-color: $tertiarycolor;
    height: 209px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 122px;
        height: 40px;
        margin-bottom: 29px;
    }
    h2 {
        color: $secondarycolor;
        font-size: 24px;
        font-weight: 500;
        @include tablet() {
            font-size: 12px;
        }
    }
}