* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

$primaryfont : "Montserrat", sans-serif;

$primarycolor : #FF6060;
$secondarycolor : #FFFFFF;
$tertiarycolor : #000000;
$quaternarycolor : #f7f7f7;

body {
    font-family: $primaryfont;
}

@mixin desktop {
    @media screen and (min-width: 1441px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
  @mixin mobile {
    @media screen and (max-width: 428px) {
      @content;
    }
  }